<div class="title-block"><p>{{title}}</p></div>
    <div class="form-block">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-box">
                <label class="input-label" for="">Email</label>
                <input class="input-field" type="email" name="email" placeholder="youremail@gmail.com">
            </div>
            <div class="input-box">
                <label class="input-label" for="">Password</label>
                <input class="input-field" type="password" name="password" placeholder="Password">
            </div>
            <div class="input-box" id="login-button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="link-block">
        <p>Don't have an account?<a href="{% url 'registration' %}"> Register</a></p>
    </div>
</div>