{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}LTalk{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'main/navbar.html' %}
    
    {% block content %}{% endblock %}
    
    <script src="{% static 'main/js/touch.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html> 