{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Word Sets</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <a href="{% url 'create_set' %}" class="upload-button">Add Word Set</a>
        <h1>Your Word Sets</h1>
        {% if wordsets %}
            <ul>
                {% for ws in wordsets %}
                    <li>
                        <a href="#">{{ ws.title }}</a>
                        <span style="color: #888;">({{ ws.description }})</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no word sets yet.</p>
        {% endif %}
        
    </div>
</body>
</html>